
.pic {
    float: left;
    margin-left: 1em;
}

img {
    max-height: 100%;
    background-color: #EEEEEE;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  @media (max-width: 767px) {
    html {
      font-size: 12px; } }
  @media (max-width: 991px) and (min-width: 480px) {
    html {
      font-size: 13px; } }
  @media (max-width: 1199px) and (min-width: 768px) {
    html {
      font-size: 14px; } }
  @media (min-width: 992px) {
    html {
      font-size: 16px; } }

a {
  color: #555555;
  border-bottom: none;
  outline-width: 0;
  text-decoration: none;
  transition: color 0.2s; }

a:focus, a:hover, a:visited {
    color: #3b5998;
    border-bottom: none;
    text-decoration: none; }

blockquote {
  border-left: 0.25rem solid #ebebeb;
  border-left-style: solid;
  font-style: italic;
  margin: 0.5rem 0 1rem 0;
  padding: 0 0 0 1rem; }
  blockquote p {
    font-size: 1em;
    font-weight: 300; }
  blockquote::before {
    content: ''; }
  blockquote::after {
    content: ''; }
  blockquote hr {
    padding: 0;
    margin: 0;
    display: none; }

ul {
    margin: 1.25rem 0;
    padding-left: 0; }
ul li {
    counter-increment: this;
    line-height: 1.313em;
    list-style: none;
    margin-left: 1em;
    position: relative; }

ul li:after,
ul li:after {
    color: #757575;
    content: "-";
    font-size: 100%;
    left: -1em;
    position: absolute;
    top: 0; }

body {
  font-family: "Avenir", "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  background-image: url("other/grid_@2X.png");
}

strong {
    font-weight: bold; }
h1 {
    font-family: "DejaVu Sans", "lucida console", "9x15", "DejaVu Sans Mono", "Monaco";
    font-size: 2em;
    margin: 0.67em 0;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.1; }
h2 {
    font-family: "DejaVu Sans", "lucida console", "9x15", "DejaVu Sans Mono", "Monaco";
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.1; }
a {
    background-color: transparent;
    color: #4078c0;
    text-decoration: none; }
a:hover {
    text-decoration: underline;
    outline: 0; }
img {
    max-width: 100%;
    box-sizing: content-box;
    border: 0; }
hr {
    box-sizing: content-box;
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd; }
hr:before {
    display: table;
    content: ""; }
hr:after {
    display: table;
    clear: both;
    content: ""; }
table {
    border-collapse: collapse;
    border-spacing: 0; }
td,
th {
    padding: 0; }
* {
    box-sizing: border-box; }

code {
    padding: 1px 3px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
}

code:before,
code:after {
    letter-spacing: -0.2em;
    content: "\00a0"; }

.highlight {
    margin-bottom: 16px; }

.highlight pre {
    margin-bottom: 0;
    word-break: normal; }

kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    box-shadow: inset 0 -1px 0 #bbb; }

pre {
    word-wrap: normal;
    background-color: #f8f8f8;
    padding: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: auto; }

.highlight pre,
pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: rgba(232, 228, 223, 0.5);
    border-radius: 3px; }

.sourceCode {
  background-color: #E8E4DF; }

code,
kbd,
pre {
  font-family: "DejaVu Sans", "lucida console", "9x15", "DejaVu Sans Mono", "Monaco";
  font-size: 1em; }

pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0; }

pre code:before,
pre code:after {
    content: normal; }

table.sourceCode,
tr.sourceCode,
td.lineNumbers,
td.sourceCode,
table.sourceCode pre {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  border: none; }

td.lineNumbers {
  text-align: right;
  background-color: #EBEBEB;
  color: black;
  padding-right: 5px;
  padding-left: 5px; }

td.sourceCode {
  padding-left: 5px; }

code.sourceCode span.kw {
  color: #a9a9a9; }
code.sourceCode span.dt {
  color: #800000; }
code.sourceCode span.dv {
  color: #015b8a; }
code.sourceCode span.bn {
  color: #0000FF; }
code.sourceCode span.fl {
  color: #800080; }
code.sourceCode span.ch {
  color: #FF00FF; }
code.sourceCode span.st {
  color: #5b8a01; }
code.sourceCode span.co {
  color: #808080;
  font-style: italic; }
code.sourceCode span.ot {
  color: #916C3D; }
code.sourceCode span.al {
  color: green;
  font-weight: bold; }
code.sourceCode span.fu {
  color: #8a7501; }
code.sourceCode span.er {
  color: red;
  font-weight: bold; }

.MathJax_Display {
    text-align: left !important;
    margin-left: 2rem !important; }

