body {
    background-color: #f6f6f6;
    color: #141414;
    font-family: "Avenir", "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px; }
body strong {
    font-weightht: bold; }
body h1 {
    font-family: "lucida console", "9x15", "DejaVu Sans Mono", "Monaco";
    font-size: 24px;
    margin: 15px 0;
    line-height: 1.1; }
body h2 {
    font-family: "lucida console", "9x15", "DejaVu Sans Mono", "Monaco";
    font-size: 20px;
    margin: 15px 0;
    line-height: 1.1; }
body a {
    background-color: transparent;
    color: #4078c0;
    text-decoration: none; }
body a:hover {
    text-decoration: underline;
    outline: 0; }
body img {
    max-width: 100%;
    box-sizing: content-box;
    border: 0; }
body hr {
    box-sizing: content-box;
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd; }
    body hr:before {
      display: table;
      content: ""; }
    body hr:after {
      display: table;
      clear: both;
      content: ""; }
  body table {
    border-collapse: collapse;
    border-spacing: 0; }
  body td, body th {
    padding: 0; }
  body * {
    box-sizing: border-box; }
  body blockquote {
    border-left: 0.25rem solid #ebebeb;
    border-left-style: solid;
    font-style: italic;
    margin: 0.5rem 0 1rem 0;
    padding: 0 0 0 1rem; }
  body blockquote p {
    font-size: 1em;
    font-weight: 300; }
  body blockquote::before {
    content: ''; }
  body blockquote::after {
    content: ''; }
  body blockquote hr {
    padding: 0;
    margin: 0;
    display: none; }
  body .pullquote-right:before,
  body .pullquote-left:before {
    border: 0;
    content: attr(data-pullquote);
    float: right;
    font-size: 1.4em;
    line-height: 1.45em;
    margin: .5em 0 1em 1.5em;
    padding: 0;
    position: relative;
    top: 7px;
    width: 45%; }
  body .pullquote-left:before {
    float: left;
    margin: .5em 1.5em 1em 0; }
  body ul {
    margin: 1.25rem 0;
    padding-left: 0; }
  body ul li {
    counter-increment: this;
    line-height: 1.313em;
    list-style: none;
    position: relative; }
  body ul li:after {
    color: #757575;
    content: "-";
    font-size: 100%;
    left: -1em;
    position: absolute;
    top: 0; }
  body ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0; }
    body ol ol {
      list-style-type: lower-roman; }
  body ul ol {
    list-style-type: lower-roman; }
  body ul ul ol, body ul ol ol {
    list-style-type: lower-alpha; }
  body ol ul ol, body ol ol ol {
    list-style-type: lower-alpha; }
  body dd {
    margin-left: 0; }
  body dl {
    padding: 0; }
    body dl dt {
      padding: 0;
      margin-top: 16px;
      font-size: 1em;
      font-style: italic;
      font-weight: bold; }
    body dl dd {
      padding: 0 16px;
      margin-bottom: 16px; }
  body blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd; }
    body blockquote > :first-child {
      margin-top: 0; }
    body blockquote > :last-child {
      margin-bottom: 0; }
  body table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; }
    body table th {
      font-weight: bold;
      padding: 6px 13px;
      border: 1px solid #ddd; }
    body table td {
      padding: 6px 13px;
      border: 1px solid #ddd; }
    body table tr {
      background-color: #fff;
      border-top: 1px solid #ccc; }
      body table tr:nth-child(2n) {
        background-color: #f8f8f8; }
  body code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px; }
    body code:before, body code:after {
      letter-spacing: -0.2em;
      content: "\00a0"; }
  body pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: #d6ae7b;
    border: 0; }
  body .highlight {
    margin-bottom: 16px; }
    body .highlight pre {
      padding: 16px;
      overflow: auto;
      font-size: 85%;
      line-height: 1.45;
      background-color: #f0f0f0;
      border-radius: 3px; }
  body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f0f0f0;
    border-radius: 3px; }
  body .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
  body pre {
    word-wrap: normal; }
    body pre code {
      display: inline;
      max-width: initial;
      padding: 0;
      margin: 0;
      overflow: initial;
      line-height: inherit;
      word-wrap: normal;
      background-color: transparent;
      border: 0; }
      body pre code:before, body pre code:after {
        content: normal; }
  body kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb; }
  body .task-list-item {
    list-style-type: none; }
    body .task-list-item + .task-list-item {
      margin-top: 3px; }
    body .task-list-item input {
      margin: 0 0.35em 0.25em -1.6em;
      vertical-align: middle; }

pre {
  overflow: auto; }

.sourceCode {
  background-color: #f0f0f0; }

code, kbd, pre {
  font-family: "lucida console", "9x15", "DejaVu Sans Mono", "Monaco";
  font-size: 1em; }

table.sourceCode, tr.sourceCode {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  border: none; }

td.lineNumbers, td.sourceCode {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  border: none; }

table.sourceCode pre {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  border: none; }

td.lineNumbers {
  text-align: right;
  background-color: #EBEBEB;
  color: black;
  padding-right: 5px;
  padding-left: 5px; }
td.sourceCode {
  padding-left: 5px; }

code.sourceCode span.kw {
    color: #5c5c5c; }
code.sourceCode span.dt {
  color: #800000; }
code.sourceCode span.dv {
  color: #015b8a; }
code.sourceCode span.bn {
  color: #0000FF; }
code.sourceCode span.fl {
  color: #800080; }
code.sourceCode span.ch {
  color: #FF00FF; }
code.sourceCode span.st {
  color: #5b8a01; }
code.sourceCode span.co {
  color: #808080;
  font-style: italic; }
code.sourceCode span.ot {
    color: #485a91; }
code.sourceCode span.al {
  color: green;
  font-weight: bold; }
code.sourceCode span.fu {
    color: #485a91; }
code.sourceCode span.er {
  color: red;
  font-weight: bold; }

/*# sourceMappingURL=lhs.css.map */
